.discover {
    display: flex;
    justify-content: center;
}

.discover-content {
    display: flex;
    width: 1240px;
    height: 2700px;
    background-color: white;


    .genre {
        height: 330px;
        width: 100%;
        border-bottom: 0.3mm solid lightgray;
    }    
}