.discover {
    display: flex;
    justify-content: center;
}

.discover-content {
    display: flex;
    width: 1240px;
    height: 1500px;
    background-color: white;

    .leftside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-right: 1px solid lightgray;
        width: 910px;
    
        .genre {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 300px;
            width: 875px;
            margin-top: 30px;
            padding-left: 10px;
            border-bottom: 0.3mm solid lightgray;
            margin-left: 10px;
        }
        
        .genre-title {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            height: 50px;
            width: 95%;
            margin-bottom: 10px;
            font-size: 22px;
            padding-bottom: 5px;

            .description {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: gray;
                height: 20px;
                margin-top: 5px;
            }
        }

        .genre-songs {
            height: 90%;
            width: 95%;
            margin-bottom: 15px;
            background-color: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            
        }

    }

    .rightside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: inherit;
        padding-top: 50px;

        .links {
            margin-top: 2%;
        }
        i {
            color: lightgray;
            font-size: 30px;
            margin: 10px;
        }
        i:hover {
            color: black;
        }

        .promotion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin-top: 20%;
            position: sticky;
            top: 320px;

             .followtext {
                width: 100%;
                color: gray;
                font-size: 14px;
                border-bottom: 1px solid lightgray;
                height: 20px;
            }
        }

        .whotofollow {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            position: sticky;
            top: 25px;

            .followtext {
                width: 100%;
                color: gray;
                font-size: 14px;
                border-bottom: 1px solid lightgray;
                height: 20px;
            }

            .follows {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;

                .userslist {
                    width: 300px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: black;
                    margin-top: 5px;
                    margin-bottom: 5px;

                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }

            }

        }

    }
}


.splashsongindex {
    height: 185px;
    width: 185px;
    position: relative;

    img {
        height: 180px;
        width: 180px
    }

    .songbuttonplay {
        position: absolute;
        display: none;
        height: 75px;
        width: 75px;
        background-image: image-url('playbutton.png');
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 58px;
        left: 55px;
        z-index: 1;
       

    }

    .songbuttonpause {
        position: absolute;
        display: none;
        height: 75px;
        width: 75px;
        background-image: image-url('pause.png');
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 58px;
        left: 55px;
        z-index: 1;
       

    }

    .songname {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: normal;
        margin-top: 5px;
        height: 15px
    }

    .artistname {
        color: gray;
        font-size: 12px;
    }
    
}

.splashsongindex:hover .songbuttonplay {
    display: block;
}

.splashsongindex:hover .songbuttonpause {
    display: block;
}
