.header div:hover {
  cursor: pointer;
}

.headerlogo:hover , .username:hover, .headerupload:hover {
  color: white;
}


.dropdown-content i {
  height: 46px;
  width: 46px;
}

.header {
  display: flex;
  height: 46px;
  background-color: #323332;
  color: #CBCCCB;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;



  .headerlogo {
    display: flex;
    align-items: center;
    background-image: image-url('headernav.jpg');
    background-size: cover;
    height: 46px;
    width: 69px;
    background-position-y: 50%;

  }

  .headerupload {
    width: 65px;
  }

  .username {
    width: 85px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
  }

  .fill{
      display: flex;
      justify-content: center;
      height: 46px;
      width: 1000px; 
      // width 1050 with logo, user , and gear

  }

  .dropdown {
    height: 46px;
    width: 46px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown:hover {
    color: white;
  }

  .dropdown-content {
    top: 46px;
    min-width: 125px;
    display: none;
    position: absolute;
    background-color: #323332;
    z-index: 1;
    float: right;
    padding: 10px;
    font-size: 12px;
    right: 0px;

  }

  .dropdown-content:hover {
    background: rgba(78, 78, 78, 1);
  }


  .show {
    display: block;
    background: black;
  }


}

