#musicplayer {
    height: 50px;
    width: 100%;
    border-top: 1px solid #CECECE;
    background-color: #F2F2F2;
    // position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // z-index: 2;

    // progress[value] {
    //     background-color: black;
    //     color: #FF5500;
    //     height: 3px;
    //     width: 100%;
    //     cursor: pointer;
    // }

    img {
        height: 30px;
        width: 30px;

    }

    .songinfo {
        height: 50px;
        width: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;

        .musicsongtitle {
            text-align: start;
            width: 100px;
            text-overflow: ellipsis;

        }
    }

    .volume {
        margin-left: 35px;
        margin-right: 35px;
    }

    .progressBar {
        height: 50px;
        width: 225x;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}