.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-banner {
    display: flex;
    width: 1240px;
    height: 260px;
    background-image: linear-gradient(to right, #4e4c57, #9799a3)
}

.profile-pic {
    height: 200px;
    width: 200px;
    margin: 25px;
    display: flex;
    justify-content: center;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.user-img {
     height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
}

.display-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 150px;
    background: black;
    color: white;
    margin-top: 30px;
    font-size: 26px;
}

.display-name h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}


.inputfile:hover {
    cursor: pointer;
}

.show-content {
    display: flex;
    width: 1240px;
    height: 1200px;
    background-color: white;
    flex-direction: column;
}


.show .labels {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-bottom: 0.3mm solid lightgray;

    span {
    font-size: 18px;
    color: #f50;
    font-weight: bold;
    padding: 5px;
    border-bottom: 0.3mm solid #f50;
    
    }
}

.userssongs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgray;
    width: 75%;
        margin-top: 25px;

    .song-itemdiv {
        display: flex;

        background: none;
        width: 90%;
        margin-bottom: 25px;
        // margin-top: 
        i:hover {
            cursor: pointer;
            color: gray
        }

        .splashsongindex .image {
            position: relative;
            z-index: 0;

            .songbuttonplay {
                position: absolute;
                display: none;
                height: 75px;
                width: 75px;
                background-image: image-url('playbutton.png');
                background-size: cover;
                background-repeat: no-repeat;
                bottom: 58px;
                left: 55px;
                z-index: 1;
            

            }

            .songbuttonpause {
                position: absolute;
                display: none;
                height: 75px;
                width: 75px;
                background-image: image-url('pause.png');
                background-size: cover;
                background-repeat: no-repeat;
                bottom: 58px;
                left: 55px;
                z-index: 1;
            

            }

        }
     

        .waveform {
            height: 48px;
            width: 650px;
            background: blue;
            background-image: image-url('ss.png');
            // background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            // background-attachment: fixed;

        }


        .songitemdivright {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            margin-left: 10px;
                margin-bottom: 10px;

            .name {
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .username {
                    color: gray;
                }

                .title {
                    font-size: 20px
                }
            }
        }


    }

    .songname {
        color: white;
        height: 0px;
    }

}





