/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background-color: #f2f2f2;
    
 }
 
 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(192, 186, 186, 0.7);
  z-index: 10;
}

.modal-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 30%;
  height: 80%;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  background-image: image-url('soundcloudorange.png');
  background-size: 40% 40%; 
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}

.modal-child .modalinput {
  display: flex;
  justify-content: center;
  flex-direction: column;
    height: 30px;
    width: 200px;
    font-size: 100%;
    margin: 10px;
    text-align: center;
}

.modal-child .modalsubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    height: 35px;
    width: 200px;
    font-size: 100%;
    margin: 10px;
    text-align: center;
    background-color: #f50;
    color: white;
    padding: 0px;
    border-radius: 5px;
}

.modal-child .modalinput {
  border-radius: 5px;
  transition: ease-in-out, width .35s ease-in-out;
}


.modal-child form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

 

.modalerrors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}



 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
   color: black;
 }


 

@import '_splash.scss';

// Header (navbar)
@import '_header.scss';