/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background-color: #f2f2f2;
    
 }

 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(192, 186, 186, 0.7);
  z-index: 10;
}

.modal-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 30%;
  height: 80%;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-child  input {
    height: 30px;
    width: 200px;
    font-size: 100%;
    margin: 10px;
}

 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
   color: black;
 }

 .splash-nav {
     display: flex;
     justify-content: flex-end;
    align-self: center;
     height: 40px;
     width: 80%;
     margin-left: 10%;
    background-color: white;
 }